/* ----- index and others ----- */

/* ----- <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Amaranth:wght@400;700&family=Amiri:wght@400;700&family=El+Messiri:wght@400;700&family=Niramit:wght@400;700&display=swap" rel="stylesheet"> ----- */

/* ----- fonts ----- */
@font-face{
font-family:"amiri";
src:url("../fonts/amiri.woff2") format("woff2");
}
@font-face{
font-family:"amiri-bold";
src:url("../fonts/amiri-bold.woff2") format("woff2");
}
@font-face{
font-family:"uthman";
src:url("../fonts/uthman-tn.woff2") format("woff2");
}
@font-face{
font-family:"uthman-bold";
src:url("../fonts/uthman-tn-bold.woff2") format("woff2");
}
@font-face{
font-family:"kitab";
src:url("../fonts/kitab-regular.woff2") format("woff2");
}
@font-face{
font-family:"icons";
src:url("../../mix/icons.woff2") format("woff2");
}
@font-face{
font-family:"fekrah";
src:url("../fonts/fekrah.woff2") format("woff2");
}

/* ----- global ----- */

:root{
--dark-blue:#2B3C56;
--light-yellow:#F9F5DC;
--body-background:url("../../mix/background.png");
--header-background:url("../../mix/rect-light.svg");
--titles-background:url("../../mix/circuit-board.svg");
--footer-background:url("../../mix/world-map.svg");
}

*, *::after,
*::before{
margin:0;
padding:0;
box-sizing: ;
-webkit-tap-highlight-color:transparent;
}

html{
height:100%;
}

::selection{
color:#ffffff;
background-color:#808080;
text-shadow:0px 0px 5px var(--dark-blue);
}

body{
background-image:var(--body-background);
background-attachment:fixed;
flex-direction:column;
display: flex;
min-height:100%;
position: relative;
animation: slide-up 0.5s ease-in-out;
scrollbar-width: none;
-ms-overflow-style: none;
}

noscript{
z-index:99999;
}

@keyframes slide-up{
from{
opacity: 0.5;
transform: translateY(100px);
}

to{
opacity: 1;
transform: translateY(0);
}
}

/* ----- mix ----- */

img, br{
pointer-events:none;
user-select:none;
}

/* ----- icons ----- */

.icons{
font-family: icons;
user-select: none;
}

/* ----- header ----- */

header{
width:100%;
height:25vw;
background-image: var(--header-background);
box-shadow:0px 0px 2vw #2C323D;
position:fixed;
z-index:1;
}

.sa-logo{
width:25vw;
margin:-0.5vw 0 0 2vw;
}

.bsa-logo{
width:25vw;
margin:-0.3vw 0 0 -15vw;
}



/* ----- menu ----- */

.menu-btn{
font-family: icons;
font-size: 10vw;
background: none;
border: none;
color: var(--dark-blue);
position: relative;
top:-19vw;
right:4vw;
transition:0.1s;
}

.close-menu-btn{
font-family: icons;
font-size: 8vw;
background: none;
border: none;
color: var(--light-yellow);
position: relative;
top:4vw;
right:2vw;
text-align: right;
transition:0.1s;
}

.menu-btn:active{
font-size: 11vw;
}

.close-menu-btn:active{
font-size: 9vw;
}

.fa-caret-left{
position:relative;
top:0.6vw;
left:1.2vw;
}

.menu-box{
height:fit-content;
width:45vw;
translate:100%;
position:fixed;
z-index:1;
top:0;
right:0;
overflow-x:hidden;
transition:0.6s;
box-shadow:0px 0px 1.5vw #2C323D;
font-size:2vw;
background-color:var(--dark-blue);
border-radius:0px 0px 0px 15vw;
}

.menu-content{
font-family:amiri-bold;
text-align:center;
text-shadow:1px 1px 0.5vw #2C323D;
margin-top: 5vw;
}

.menu-content li, li a{
margin:8vw auto 8vw auto;
transition-duration:0.1s;
-webkit-transition-duration: 0.1s;
text-decoration: none;
color:var(--light-yellow);
font-size:4vw;
}

.menu-accessibility-buttons{
text-align :center;
display:inline-block; 
margin-top:0px;
background-color:var(--light-yellow); 
color:var(--dark-blue); 
border-radius:2vw 0.5vw; 
padding:0.3vw;
text-shadow:1vw 1vw 5vw var(--light-yellow);
border:double 1.3vw var(--dark-blue);
font-size: 4vw;
}

.menu-accessibility-icons{
display:inline-block;
margin-top:0vw;
color:var(--light-yellow);
text-shadow:1vw 1vw 5vw #2C323D;
background-color:var(--dark-blue); 
border-radius:50%;
padding:1vw;
}

.menu-content li:hover a{
-webkit-tap-highlight-color:transparent;
-webkit-font-smoothing: antialiased;
text-shadow:0px 0px 5vw var(--light-yellow);
font-size:5vw;
transition-duration:0.1s;
-webkit-transition-duration: 0.1s;
cursor:pointer;
}

.menu-accessibility-buttons:hover{
-webkit-tap-highlight-color:transparent;
-webkit-font-smoothing: antialiased;
box-shadow:0px 0px 2.5vw var(--light-yellow);
font-size:4.5vw;
transition-duration:0.1s;
-webkit-transition-duration: 0.1s;
cursor:pointer;
}

/* ----- install app popup ----- */

.overlay {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5);
z-index: 999;
display:none;
opacity: 0;
transition: opacity 0.2s ease-in-out;
-webkit-transition: opacity 0.2s ease-in-out;
}

.popup {
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background-color: var(--light-yellow);
padding: 5vw;
box-shadow: 0 0 1vw #2C323D;
z-index: 1000;
width:80%;
max-height:65%;
border:double 1.3vw var(--dark-blue);
border-radius: 4vw 2vw;
color:var(--dark-blue);
overflow:scroll;
}

.popup-content {
position: relative;
text-align:right ;
font-family: amiri;
top:-3vw;
right:-1vw;
padding:2.5vw 0;
font-size: 4vw;
}

.popup-title{
font-family:uthman-bold;
position:relative ;
top:-14vw;
font-size:4vw;
text-align:center;
}

.popup-stitles{
font-family:uthman-bold;
text-align: right;
position: relative;
top:-3vw;
right:-1vw;
font-size: 4vw;
}

.close-popup {
position: relative;
top: -5vw;
right: -5vw;
font-size: 5vw;
font-family:icons;
background: var(--light-yellow);
border-radius:50%;
-webkit-tap-highlight-color:transparent;
padding:2.5vw;
color:var(--dark-blue);
border: none;
cursor: pointer;
transition-duration: 0.1s;
-webkit-transition-duration: 0.1s;
overflow:visible;
z-index: 1001;
}

.close-popup:active{
font-size:4vw;
transition-duration: 0.1s;
-webkit-transition-duration: 0.1s;
}

/* ----- fields ----- */

.fields{
margin-bottom:150px;
position:relative;
opacity:;
position:relative;
transition:opacity 1s ease-in-out;
-webkit-transition:opacity 1s ease-in-out;
}

.fields[id="about-project"]{
margin:150px 0;
}

.fields[id="social-field"]{
margin-bottom:250px;
}

.titles{
background-image:var(--titles-background);
color:var(--light-yellow);
box-shadow:0px 0px 5px #2C323D;
border-radius:30px 5px 30px 5px;
text-align:center;
margin:auto;
width:30%;
padding:2.5px 30px 5px 30px;
position:relative;
bottom:-25px;
font-family:uthman-bold;
font-size:18px;
}

.descriptions{
background-color:var(--light-yellow);
color:var(--dark-blue);
border:double 5px var(--dark-blue);
border-radius:20px 5px 20px 5px;
text-align:center;
margin:auto;
width:80%;
padding:40px 25px 25px 25px;
font-family:amiri;
box-shadow:0px 0px 5px #2C323D;
}

.bohoth-btns{
border:solid 4px var(--dark-blue);
background-color:var(--light-yellow);
padding:3px 10px;
font-family:amiri;
border-radius:20px 5px 20px 5px;
color:var(--dark-blue);
box-shadow:0px 0px 5px #2C323D;
font-size:16px;
-webkit-transition-duration: 0.1s;
transition-duration: 0.1s;
margin:10px 10px;
}

.bohoth-btns:active{
border-radius:5px 20px 5px 20px;
-webkit-transition-duration: 0.1s;
transition-duration: 0.1s;
}

/* ----- footer ----- */

footer{
width:100%;
background-image:var(--footer-background);
height:120px;
box-shadow:0px 0px 10px #2C323D;
margin:100% 0 0 0;
position: absolute;
bottom: 0;
}

.footer-list-container{
position:relative;
top:8px;
}

.footer-list, .footer-list li, .footer-list a{
display: inline;
margin:0 10px;
color:var(--light-yellow);
font-family: amiri-bold;
font-size: 16px;
transition-duration:0.1s;
-webkit-transition-duration: 0.1s;
}

.footer-list li:nth-child(1) a{
float: right;
padding:40px 30px 0 0;
}

.footer-list li:nth-child(3) a{
float: left;
padding:40px 0 0 30px;
}

.footer-list li:hover a{
-webkit-font-smoothing: antialiased;
text-shadow:0px 0px 20px var(--light-yellow);
font-size:15.5px;
transition-duration:0.1s;
-webkit-transition-duration: 0.1s;
cursor:pointer;
}


.footer-copyright{
text-align: center;
color:var(--light-yellow);
font-family: fekrah;
position: relative;
top:44px;
font-size: 12px;
}

